@model ProjectModel

@{
    ViewData["Title"] = Model.Title;
}

<h1 id="page_title">@Model.Title</h1>

<div class="centered_wrapper project-details">
    <h2>Company</h2>
    <p>@Model.Company</p>

    @if (!string.IsNullOrEmpty(Model.Link))
    {
    <h2>Address</h2>
    <p><a href="@Model.Link" target="_blank">@Model.Link</a></p>
    }

    <h2>Brief</h2>
    <p>@Model.About</p>

    <h2>Tecnologies &amp; Tools</h2>
    <ul>
        @foreach (var tecTools in Model.TechsAndTools)
        {
            <li>@tecTools</li>
        }
    </ul>

    <h2>Length</h2>
    <p>@Model.Length</p>

    <h2>Tags</h2>
    <ul>
        @foreach (var tag in Model.Tags)
        {
            <li>@tag</li>
        }
    </ul>

    @if (!string.IsNullOrEmpty(@Model.FlickrFirstPhotoUrl))
    {
    <h2>Images</h2>
    <div class="responsive-image">
        <a data-flickr-embed="true" data-footer="true" data-header="true" href="@Model.FlickrAlbumUrl" title="iPsic">
            <img src="@Model.FlickrFirstPhotoUrl" width="800" height="277" alt="iPsic">
        </a>
    </div>
    <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    }
</div>