@{
    ViewData["Title"] = "Developer being Designer";
}

<div class="wrapper clearfix">
    <div class="col-1 content">
        <h2>About</h2>
        <hr>
        <p>I'm a developer who loves code more than chocolate.</p>
        <p>I like to code manly in C# combining with JavaScript and CSS. You can see these skills in action within my projects like ipsic and neurando.</p>
        <p>Do you have some great idea and want me join the group? I would love to! Do you want to ask something? Yeap, not problem. Do you have a job offer? Wonderful!</p>
        <p>In any case, send an email for <a href="#">austin.felipe@live.com</a>. You also can find me at <a href="#">Twitter</a>, <a href="#">Facebook</a> or <a href="#">Github</a>.</p>
    </div>

    <div class="col-2 content">
        <h2>My Latest Articles</h2>
        <hr>
        @foreach (var article in ViewBag.Articles)
        {
        <a href="@article.Link" target="_blank">@article.Title</a>
        <p class="date">@article.FormattedPublishedAt()</p>
        }
        <a asp-controller="Articles" asp-action="Index" class="view-all">View all articles</a>
    </div>

    <div class="col-3 content">
        <h2>My Latest Projects</h2>
        <hr>
        @foreach (var project in ViewBag.Projects)
        {
        <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id">@project.Title</a>
        <p class="date">@project.FormattedBuiltAt()</p>
        }
        <a asp-controller="Projects" asp-action="Index" class="view-all">View all projects</a>
    </div>
</div>